<% include header %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>

    <h1>What's your ZIP code?</h1>

    <form class="pure-form">
        <fieldset>
            <input type="number" name="zip" placeholder="우편번호 입력" autofocus="autofocus" required="required" />
            <input type="submit" class="pure-button pure-button-primary" value="GO" />
        </fieldset>
    </form>

<% include footer %>
